html {
	margin: 0;
	padding: 0;
	background: #fff url("fond.png") no-repeat bottom right;
	background-size: cover;
	animation: fadein 1s;
}

body {
	width: 600px;
 	margin: 0 auto;
  	background-color: #ff9500;
 	padding: 0 20px 20px 20px;
 	border: 5px solid black;

	
}

h1,
h3
 {
	 text-align: center;
}
